---
import { Image } from "@astrojs/image/components";

import Layout from "@/layouts/Layout.astro";
import ProjectCard from "@/components/ProjectCard.astro";
import SkillCard from "@/components/SkillCard.astro";

import heroImage from "@/assets/santa-hat.png";
import nompImage from "@/assets/nomp.png";
import mySiteImage from "@/assets/cool-example.jpg";
import onlyFoodsImage from "@/assets/onlyfoods.png";

import { technologies, nompStack, onlyFoodsStack, portfolioStack } from "@/lib";
---

<Layout title="Humphrey">
  <main class="px-6 py-4 relative w-full m-auto md:max-w-lg xl:max-w-5xl">
    <section
      class="h-screen w-full flex flex-col gap-10 items-center justify-center"
      id="home"
    >
      <div class="flex flex-col items-end gap-2">
        <h1 class="text-red-400 font-bold text-6xl name-header">Humphrey</h1>
        <p class="font-semibold px-4">Web Developer</p>
      </div>

      <Image src={heroImage} alt="Santa hat" height={300} format="webp" />
      <!-- <img src="/santa-hat.png" alt="Santa" class="w-60 lg:w-full max-w-sm" /> -->
    </section>

    <section id="about" class="card pb-10">
      <h2
        class="font-headline font-bold text-xl uppercase after:w-full after:h-[2px] after:bg-slate-400 after:block flex after:m-3"
      >
        About
      </h2>

      <div class="text-sm flex flex-col gap-2 font-medium xl:text-lg">
        <p>Hi, I'm <span class="inline-block title">Humphrey</span>!</p>
        <p>
          I'm a <span class="inline-block title after:w-full"
            >2nd year Computer Science major
          </span> @ the National University of Singapore! 🎓
        </p>

        <p>Developer by day, fishkeeper by night 🐟🐠</p>

        <p>On a mission to create meaningful software! 💻</p>

        <p>
          Currently watching: <span class="font-headline">Succession 📺</span>
        </p>
      </div>
    </section>

    <section id="projects" class="card">
      <h2
        class="font-headline font-bold text-xl uppercase after:w-full after:h-[2px] after:bg-slate-400 after:block flex after:m-3"
      >
        Projects
      </h2>

      <div class="pb-10 card">
        <ProjectCard
          title="Nomp"
          technologies={nompStack}
          link="https://orbital-nomp.netlify.app/"
          github="https://github.com/bananamonkey4655/nomp"
        >
          <Image src={nompImage} alt="Nomp" slot="image" format="webp" />
          <h3
            class="text-red-500 font-semibold text-xs uppercase font-headline"
          >
            Built for CP2106 Independent Software Development Project (Orbital)
          </h3>

          <p>
            A single-page-application to help a group of friends decide where to
            eat using a Tinder-like interface to vote
          </p>

          <p>Uses Socket.io for real-time voting feedback.</p>

          <p>Authentication implemented with JWTs & bcrypt.</p>

          <p>Restaurant data fetched from Yelp Fusion API.</p>
        </ProjectCard>
      </div>

      <div class="pb-10 card">
        <ProjectCard
          title="OnlyFoods"
          technologies={onlyFoodsStack}
          link="https://onlyfoods-blue.vercel.app/"
          github="https://github.com/bananamonkey4655/onlyfoods"
        >
          <Image src={onlyFoodsImage} alt="OnlyFoods" slot="image" format="webp"
          />

          <p>A web app to search for restaurant listings using keywords.</p>

          <p>
            Uses SSG (Static Site Generation) to pre-render only a few listings
            at build time, while server-rendering listings on demand if they
            don't exist.
          </p>
          <p>
            Pages are cached and served as static sites for future requests.
          </p>
        </ProjectCard>
      </div>

      <div class="pb-10 card">
        <ProjectCard
          title="My website"
          technologies={portfolioStack}
          link="/"
          github="https://github.com/bananamonkey4655/astro-test"
        >
          <Image src={mySiteImage} alt="My website" slot="image" format="webp"
          />

          <p>This website!</p>

          <p>Ships with minimal JavaScript!</p>
        </ProjectCard>
      </div>
    </section>

    <section class="card" id="skills">
      <h2
        class="flex font-headline font-bold text-xl uppercase after:w-full after:h-[2px] after:bg-slate-400 after:block after:m-3"
      >
        Skills
      </h2>

      <SkillCard
        title="Languages"
        technologies={technologies.filter((tech) => tech.skill === "language")}
      />

      <SkillCard
        title="Libraries & Frameworks"
        technologies={technologies.filter((tech) => tech.skill === "library")}
      />

      <SkillCard
        title="Tools"
        technologies={technologies.filter((tech) => tech.skill === "tool")}
      />
    </section>

    <section id="contact" class="card py-40 flex flex-col gap-4">
      <h2
        class="font-headline font-bold text-xl uppercase after:w-full after:h-[2px] after:bg-slate-400 after:block flex after:m-3"
      >
        Contact
      </h2>

      <p class="text-center font-semibold">
        Whether you'd like to chat about web development or talk about
        opportunities, <span class="inline-block title"
          >feel free to drop me a message!
        </span>
      </p>

      <a
        href="mailto: humphrey@u.nus.edu"
        class="self-center bg-red-100 rounded-md p-2 shadow-xl text-lg font-semibold border-[2px] border-red-300 hover:bg-red-50 transition-all duration-150 ease-in-out"
        >📧 Get in touch! 📧
      </a>
    </section>
  </main>
</Layout>

<script>
  const cards = document.querySelectorAll(".card");

  const observer = new IntersectionObserver(
    (entries) => {
      entries.forEach((entry) => {
        entry.target.classList.toggle("show", entry.isIntersecting);

        if (entry.isIntersecting) {
          observer.unobserve(entry.target);
        }
      });
    },
    { threshold: 0.1 }
  );

  cards.forEach((card) => {
    observer.observe(card);
  });
</script>

<style>
  section {
    padding-top: 70px;
    padding-bottom: 70px;
    margin-top: -70px;
  }

  .card {
    transform: translateY(100px);
    transition: 250ms;
    opacity: 0;
  }

  .card.show {
    transform: translateY(0);
    opacity: 1;
  }
</style>

<!-- <style>
	:root {
		--astro-gradient: linear-gradient(0deg, #4f39fa, #da62c4);
	}

	h1 {
		margin: 2rem 0;
	}

	main {
		margin: auto;
		padding: 1em;
		max-width: 60ch;
	}

	.text-gradient {
		font-weight: 900;
		background-image: var(--astro-gradient);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		background-size: 100% 200%;
		background-position-y: 100%;
		border-radius: 0.4rem;
		animation: pulse 4s ease-in-out infinite;
	}

	@keyframes pulse {
		0%,
		100% {
			background-position-y: 0%;
		}
		50% {
			background-position-y: 80%;
		}
	}

	.instructions {
		line-height: 1.6;
		margin: 1rem 0;
		background: #4f39fa;
		padding: 1rem;
		border-radius: 0.4rem;
		color: var(--color-bg);
	}

	.instructions code {
		font-size: 0.875em;
		border: 0.1em solid var(--color-border);
		border-radius: 4px;
		padding: 0.15em 0.25em;
	}

	.link-card-grid {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(24ch, 1fr));
		gap: 1rem;
		padding: 0;
	}
</style> -->
